<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.janyo.janyoshare"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Preference">
        </activity>
        <activity
            android:name=".activity.FileTransferActivity"
            android:label="@string/title_activity_file_transfer"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activity.FileTransferConfigureActivity"
            android:label="@string/title_activity_file_transfer_configure"
            android:theme="@style/AppTheme">
        </activity>

        <service
            android:name=".service.ShareTileService"
            android:icon="@drawable/ic_share"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.FileTransferTileService"
            android:icon="@drawable/ic_file_transfer"
            android:label="@string/title_activity_file_transfer_configure"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.SendFileService"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name=".service.ReceiveFileService"
            android:enabled="true"
            android:exported="true"/>
        <!-- <service -->
        <!-- android:name=".service.TransferPauseService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"/> -->
        <!-- <service -->
        <!-- android:name=".service.TransferResumeService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"/> -->
        <!-- <service -->
        <!-- android:name=".service.TransferCancelService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"/> -->
    </application>

</manifest>